<?xml version="1.0"?>
<robot name="robothand">
<!-- colours -->
  <material name="blue"><color rgba="0 0 1 1"/></material>
  <material name="green"><color rgba="0 1 0 1"/></material>
  <material name="yellow"><color rgba="1 1 0 1"/></material>
  <material name="black"><color rgba="0 0 0 1"/></material>
  <!-- wrist bone definitions -->
  
  <xacro:property name="wrist_width" value="0.04" />
  <xacro:property name="wrist_bodylen" value="0.01" /> 

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.04" radius="0.01"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </geometry>
    <material name="blue"/>
    </visual>
  </link> 
  

  <!-- Metacarpal bone definitions -->
  <xacro:property name="metacarpal_width" value="0.01" />

  <link name="fore_finger_metacarpal">
    <xacro:property name="fore_finger_metacarpal_bodylen" value="0.05" />  
    <visual>
      <geometry>
        <cylinder length="0.01" radius="0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 -0.025 0"/>
      <material name="green"/>
    </visual>
  </link>
<!--
  <link name="middle_finger_metacarpal">
    <xacro:property name="middle_finger_metacarpal_bodylen" value="0.05" />  
    <visual>
      <geometry>
        <cylinder length="${metacarpal_width}" radius="${fore_finger_metacarpal_bodylen}"/>
        <origin rpy="0 0 0" xyz="0 ${-middle_finger_metacarpal_bodylen/2} 0"/>
      </geometry>
    </visual>
  </link>
  
  <link name="ring_finger_metacarpal">
    <xacro:property name="ring_finger_metacarpal_bodylen" value="0.045" />  
    <visual>
      <geometry>
        <cylinder length="${metacarpal_width}" radius="${fore_finger_metacarpal_bodylen}"/>
        <origin rpy="0 0 0" xyz="0 ${-ring_finger_metacarpal_bodylen/2} 0"/>
      </geometry>
    </visual>
  </link>
  
  <link name="little_finger_metacarpal">
    <xacro:property name="little_finger_metacarpal_bodylen" value="0.04" />  
    <visual>
      <geometry>
        <cylinder length="${metacarpal_width}" radius="${fore_finger_metacarpal_bodylen}"/>
        <origin rpy="0 0 0" xyz="0 ${-little_finger_metacarpal_bodylen/2} 0"/>
      </geometry>
    </visual>
  </link>
  -->
 <!-- joints -->

  <joint name="wrist_to_fore_finger" type="fixed">
    <parent link="base_link"/>
    <child link="fore_finger_metacarpal"/>
    <origin xyz="-0.02 0 0"/>
  </joint>
<!--
  <joint name="wrist_to_middle_finger" type="fixed">
    <parent link="base_link"/>
    <child link="middle_finger_metacarpal"/>
    <origin xyz="0 0 0"/>
  </joint>
  
  <joint name="wrist_to_fore_finger" type="fixed">
    <parent link="base_link"/>
    <child link="ring_finger_metacarpal"/>
    <origin xyz="0.02 0 0"/>
  </joint>
  
  <joint name="wrist_to_fore_finger" type="fixed">
    <parent link="base_link"/>
    <child link="little_finger_metacarpal"/>
    <origin xyz="0.04 0 0"/>
  </joint>
-->
</robot>
